/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
$green: #248A83;
$purple: #2f1339;
$orange: #d99054;
$yellow:#f0e4d1;
$light-grey: #a1a1a1;
$medium-grey: #808080;