.page-shop-shop-stuff {
    border-bottom: 1px dashed #c8c8c8;
    margin-bottom: 3rem;
    text-align: center;
}
.product-type-ul {
    display: flex;
    font-family: Novecento Sans Web,sans-serif;
    font-size: 19.2px;
    font-size: 1.2rem;
    -ms-flex-pack: center;
    justify-content: center;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    text-transform: uppercase;
    li a{
        color: $green;
        text-decoration: none;
    }
}
.product-pictures-price {
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
    .product-type-post {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

.entry-info {
    border: 1px solid #e1e1e1;
    .journal-image-wrapper {
        background-color: $light-grey;
        height: 250px;
        overflow: hidden;
        position: relative;
        img {
            left: 50%;
            max-height: 250px;
            max-width: none;
            position: absolute;
            top: 50%;
            transform: translate(-50%,-52%);
            width: auto;
        }
    }
    .journal-price-wrapper {
        font-size: 14.4px;
        font-size: .9rem;
        padding: .75rem 1rem;
    }
}