@import "fonts";

.site-header {
    background-color: hsla(0,0%,100%,.85);
    border-bottom: 1px solid #e1e1e1;
    padding: .5rem 0;
    position: fixed;
    transition: top .5s linear;
    width: 100%;
    z-index: 3;
}

.nav-bar{
    color: white;
    margin: 0 10%;
    padding: 10px 0;
    .logo-nav{
        color: white;
        height:33px;
        width:50px;
    }
    #primary-menu{
        width: 60%;
        margin: 0px 21px 0px 0px;
        float: right;
        text-decoration: none;
        li a{
            color: $green;
        }
    }
}
#site-navigation {
    display: flex;
    height: 50px;
    position: relative;
    left: 25%;
}

.menu-top-menu-container {
    width: 80%;
}

.header-search {
    fieldset {
        height: 50px;
        border: none;
        position: relative;
        a{
            width: 18px;
        }
        label {
            position: absolute;
            top: 0;
            left: 80%;
        }
    }
}
.search-toggle {
    i {
        color: $green;
    }
}